#iframe-container {
    height: 380px !important;
    position: relative;
    overflow: hidden;
}

iframe {
    margin-top: 20px;
    margin-bottom: 20px;
}
 #iframe-container iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}